
@{
    ViewBag.Title = "Add";
}
@model _5StarWifi.ViewModels.AddCustomerViewModel

<!--begin::Container-->
<div class="d-flex flex-row flex-column-fluid container">
    <!--begin::Content Wrapper-->
    <div class="main d-flex flex-column flex-row-fluid">
        <!--begin::Subheader-->
        <div class="subheader py-2 py-lg-6 subheader-transparent" id="kt_subheader">
            <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                <!--begin::Info-->
                <div class="d-flex align-items-center flex-wrap mr-1">
                    <!--begin::Page Heading-->
                    <div class="d-flex align-items-baseline flex-wrap mr-5">
                        <!--begin::Breadcrumb-->
                        <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                            <li class="breadcrumb-item text-muted">
                                <a href="" class="text-muted">Home</a>
                            </li>
                            <li class="breadcrumb-item text-muted">
                                <a href="" class="text-muted">Customers</a>
                            </li>
                            <li class="breadcrumb-item text-muted">
                                <a href="" class="text-muted">Add</a>
                            </li>                           
                        </ul>
                        <!--end::Breadcrumb-->
                    </div>
                    <!--end::Page Heading-->
                </div>
                <!--end::Info-->

            </div>
        </div>
        <!--end::Subheader-->
        <div class="content flex-column-fluid pt-0" id="kt_content">
            @using (Html.BeginForm("Create", "Customers",
            FormMethod.Post, new { @class = "form" }))
            {
                <div class="card-body">
                    <!--begin::Row-->
                    <div class="row">
                        <div class="col-xl-7 my-2">
                            <!--begin::Row-->
                            <div class="row">
                                <label class="col-3"></label>
                                <div class="col-9">
                                    <h6 class="text-dark font-weight-bold mb-10">Input customer information:</h6>
                                </div>
                            </div>
                            <!--end::Row-->
                            <!--begin::Group-->
                            <div class="form-group row">
                                @Html.LabelFor(m => m.Customer.Name, new { @class = "col-form-label col-3 text-lg-right text-left" })
                                <div class="col-9">
                                    @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control form-control-lg form-control-solid" })
                                </div>
                            </div>
                            <!--end::Group-->
                            <!--begin::Group-->
                            <div class="form-group row">
                                @Html.LabelFor(m => m.Customer.Email, new { @class = "col-form-label col-3 text-lg-right text-left" })
                                <div class="col-9">
                                    @Html.TextBoxFor(m => m.Customer.Email, new { @class = "form-control form-control-lg form-control-solid" })
                                </div>
                            </div>
                            <!--end::Group-->
                            <!--begin::Group-->
                            <div class="form-group row">
                                @Html.LabelFor(m => m.Customer.Password, new { @class = "col-form-label col-3 text-lg-right text-left" })
                                <div class="col-9">
                                    @Html.TextBoxFor(m => m.Customer.Password, new { @class = "form-control form-control-lg form-control-solid" })
                                </div>
                            </div>
                            <!--end::Group-->
                            <!--Service-->
                            <div class="form-group row mb-2">
                                @Html.LabelFor(m => m.Customer.isSubscribedToCustomer, new { @class = "col-form-label col-3 text-lg-right text-left" })
                                <div class="col-3">
                                    <span class="switch">
                                        <label>
                                            @Html.CheckBoxFor(m => m.Customer.isSubscribedToCustomer)
                                            <span></span>
                                        </label>
                                        <br /><span class="form-text text-muted">Checked for Active uncheck for inactive</span>
                                    </span>
                                </div>
                            </div>
                            <!--end:service-->
                            <!--start:status-->
                            <div class="form-group row">
                                @Html.LabelFor(m => m.Customer.PaymentStatus, new { @class = "col-form-label col-3 text-lg-right text-left" })
                                <div class="col-9">
                                    @Html.TextBoxFor(m => m.Customer.PaymentStatus, new { @class = "form-control form-control-lg form-control-solid" })
                                </div>
                            </div>
                            <!--end:status-->
                            <!--start:type-->
                            <div class="form-group row">
                                @Html.LabelFor(m => m.Customer.MembershipTypeId, new { @class = "col-form-label col-3 text-lg-right text-left" })                                
                                <div class="col-9">
                                    @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "DurationInMonths"), "Select membership type" , new { @class = "form-control form-control-lg form-control-solid"})                                    
                                </div>
                            </div>
                            <!--end:type-->

                        </div>
                    </div>
                    <!--end::Row-->
                </div>
                <div class="card-footer pb-0">
                    <div class="row">
                        <div class="col-xl-2"></div>
                        <div class="col-xl-7">
                            <div class="row">
                                <div class="col-3"></div>
                                <div class="col-9">
                                    <a href="#" class="btn btn-light-primary font-weight-bold">Save changes</a>
                                    <a href="#" class="btn btn-clean font-weight-bold">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }


        </div>

    </div>
    <!--end::Content-->
</div>
<!--begin::Content Wrapper-->

<!--end::Container-->